.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.content {
    display: inline;
    float: left;
    width: 80%;
    margin: 18px 3px;
    font-size: 20px;
}

.btn {
    margin: 12px 250px;
    padding-top: 10px;
    display: flex;
    background-color: white;
    color: black;
}

.container {
    border: 1px solid grey;
    margin: 15px 10px;
}